body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: rgb(255,143,51);
    background: linear-gradient(180deg, rgba(255,143,51,1) 13%, rgba(56,110,35,0) 40%, rgba(39,105,33,1) 92%);    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.container {
    color: grey;
    background-color: rgba(255, 255, 255, 0.288);
    width: 70%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:100px;
}


